
/* Adding Theme */
:root { /*for switching purpose, root; represents <html> in HTML page */
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

/* Adding Light theme*/
.light-theme {
    /*color: #000000;
    background: #00ff00;
    updating*/
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
/* Adding dark theme */
.dark-theme {
        --bg: var(--black);
        --fontColor: var(--green);
        --btnBg: var(--white);
        --btnFontColor: var(--black);
    }
/*.new-theme {
    --bg: var(--red);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--blue)
}*/



body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.lst, li:last-of-type, a {
    color: brown;
    font-family: courier;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    list-style: circle;
    list-style-position: inside;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    margin-left: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;
    margin-right: 50px;
    font-family: times new roman;
}

p, td{
    margin-left: 50px;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin-right: 50px;
    font-weight: bold;
    font-family: times new roman;
}

.apple {
    margin-left: 50px;
}

/* customizing button */
.btn {
    position: absolute;
    bottom: 1.8px;
    right: 1.8px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: #c7254e;
    color: #f8b34e;
}

/*.HoverClass1:hover {color: blue !important; background-color: green !important;}
.HoverClass2:hover {color: red !important; background-color: yellow !important;}*/